<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Product</h2>
<form method="post">
  Title: <input type="text" name="title"><br>
  Category: <input type="text" name="category"><br>
  Price: <input type="text" name="price"><br>
  Old Price: <input type="text" name="old_price"><br>
  Badge: <input type="text" name="badge"><br>
  Tag: <input type="text" name="tag"><br>
  <input type="submit" value="Add">
</form>
</body>
</html>