<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secret Spoon</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/icon.png') }}">

  <style>
    @font-face {
      font-family: 'Amsterdam One';
      src: url(data:font/truetype;charset=utf-8;base64,AAEAAAARAQAABAAQRFNJRwAAAAEAAf4AAAAVAAAA...) format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>
<body>
  <h1 style="
    font-family: 'Amsterdam One', cursive;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;">
    Secret Spoon<br>
  </h1>
</body>
</html>
